.header .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 24px 0;
}
.header__logo {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.header__nav-list {
  display: flex;
  align-items: center;
  column-gap: 32px;
}
.header__nav-item {
}
.header__nav-link {
}
.header__button {
  display: flex;
  align-items: center;
  column-gap: 8px;

  padding: 16px 20px;
}

.header__burger-menu {
  display: none;
}

.header__button img {
  fill: $color-white;
}

@media (max-width: 768px) {
  .header__nav-list {
    display: none;
  }

  .header__burger-menu {
    display: block;
    cursor: pointer;
  }

  .header__button {
    display: none;
  }
}
